* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    background-color: red;
    height: 100px;
    margin-top: 10px;
}

.item1{
    height: 20px;
    background-color: blue;
    margin-top: 10px;
}